h2{
    margin: 0;
}

.header{
    padding: 10px;
    display: flex;
    align-items: center;
}

.archive{
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    margin-right: 15px;
    cursor: pointer;
    text-shadow: 1px 3px 2px #d3cbcb, -2px -8px 2px rgb(233 228 223 / 0%);

}

.archive:hover{
    text-shadow: 10px 10px 4px #B9B0B0, -2px -8px 2px rgb(233 228 223 / 0%);

}

.header-options{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-title{
flex: 1;
cursor: pointer;
}

.board-title:hover{
    text-shadow: 10px 10px 4px #B9B0B0, -2px -8px 2px rgb(233 228 223 / 0%);

}

.board{
    display: flex;
    justify-content: center;
}

.column-title{
    text-align: center;
}

.button-menu{
    display: flex;
    list-style: none;
}

.board-detail-container{
    display: flex;
    flex-direction: column;
    border: 11px solid #efefef;
    border-radius: 10px;
    padding: 5px;
    width: 30vw;
    align-items: center;
}

.board-content{
    font-size: 1em;
}