<div class="header">

    <div class="board-detail-container">
        <h1 class="board-title" [routerLink]="['/home']">{{boardName}} </h1>
        <p class="board-content">{{description}}</p>
        <span>{{createdDate}}</span>
    </div>

    <button class="archive" [routerLink]="['task/archive', id]">
        <h3>Archive</h3>
    </button>

    <div class="header-options">

        <app-filter ngDefaultControl [(ngModel)]="filterBy"></app-filter>
        <app-sort [sortArray]="sortArray" ngDefaultControl [(ngModel)]="sortBy"></app-sort>

        <ul class="button-menu">
            <li>
                <app-button [title]="ascButton" (click)="sortAsc = true"></app-button>
            </li>
            <li>
                <app-button [title]="descButton" (click)="sortAsc = false"></app-button>
            </li>
        </ul>

    </div>
</div>

<div class="board">
    <div class="board-column">
        <h2 class="column-title">Todo</h2>
        <app-board-column [tasks]="returnTaskByStatus('ToDo')" id="ToDo" [name]='"ToDo"' [status]="'ToDo'"
            [filterBy]="filterBy" [sortBy]="sortBy" [sortAsc]="sortAsc"></app-board-column>
    </div>

    <router-outlet></router-outlet>

    <div class="board-column">
        <h2 class="column-title">In Progress</h2>
        <app-board-column [tasks]="returnTaskByStatus('InProgress')" id="InProgress" [name]='"In Progress"'
            [status]="'InProgress'" [filterBy]="filterBy" [sortBy]="sortBy" [sortAsc]="sortAsc"></app-board-column>
    </div>
    <div class="board-column">
        <h2 class="column-title">Done</h2>
        <app-board-column [tasks]="returnTaskByStatus('Done')" id="Done" [name]='"Done"' [status]="'Done'"
            [filterBy]="filterBy" [sortBy]="sortBy" [sortAsc]="sortAsc">
        </app-board-column>
    </div>

</div>