<div class="task-item">
    <h5 class="task-title" [routerLink]="['/task', id]" [state]="{ data: {taskName,description,createdDate}} ">{{taskName}}</h5>
  
    <div class="task-button-container">
        <button class="task-options" *ngIf="!archived" [routerLink]="['task/edit',id]">
            ✍    </button>
        <button class="task-options" *ngIf="!archived" (click)="delete()">
            🗑     </button>
         <button class="task-options" (click)="archive()">
            🗃
         </button>
    </div> 
   
</div>