h5 {
    margin: 0;
}

button {
    border: none;
}

.task-item {
    background-color: #B9B0B0;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    height: 100px;
    cursor: grab;
}

.task-item:active{
    cursor: grabbing;
}

.task-title {
    font-size: 1.4em;
    flex: 1;
    cursor: pointer;
}

.task-button-container{
    display: flex;
    flex-direction: column;
}

.task-options {
    justify-self: end;
    background-color: transparent;
    font-size: 1.5em;
    color: #D9D9D9;
    cursor: pointer;
}

