div{
    margin: 0;
}
.board-column{
    background-color:  #D9D9D9;
    width:25vw;
    margin: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    pointer-events: auto;
}

.task-create{
position: sticky;
top: 0;
}

.hidden{
    overflow: hidden;
}

.dragable{
    cursor: move;
    user-select: none;
}

.draging{
    color: green;
}

.movable:not(.draging){
    transition: transform 300ms ease-in-out;
}

.droppzone-activated{
    border: 2px solid #04ffc4;

}

.color-input{
    position: sticky;
    bottom: 0;
   
}

.color-input-container{
    padding: 10px;
}

.task-list-container{
    overflow: auto;
    box-sizing: border-box;
    height: 67vh;
}

