<div class="board-column  column-color" (drop)="dropHandler($event)" (dragover)="dragoverHandler($event)"
    [attr.data-column-status]="status" [style.background-color]="columnColor">

    <app-task-create class="task-create" [taskStatus]="name"></app-task-create>

    <div class="task-list-container">

        <div class="dropzone " *ngFor="let task of tasks | sort: [sortBy,sortAsc ] | filter: filterBy" draggable="true"
            (dragstart)="dragStartHandler($event)" (dragend)="dragEndHandler($event)" [attr.data-column-status]="status"
            [attr.data-task-id]="task._id">
            <app-task class="task" [taskName]="task.name" [id]="task._id" [description]="task.description"
                [createdDate]="task.createdDate" ></app-task>
        </div>

    </div>
<div class="color-input-container">
    <input class="color-input" type="color" (change)="onChange($event)" [defaultValue]="columnColor">

</div>

</div>