h2, h4, div {
    margin: 0;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.link {
    color: rgb(25, 12, 54);
    text-decoration: underline;
    cursor: pointer;
}

.link:hover{
    color: rgb(231, 21, 161);
}

.header-options {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    flex: 1;
}

.dashboad {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;

}

.dashboard-item {
    background-color: #d3d3d3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    min-height: 185px;
    width: 240px;
}

.dashboard-item:hover{
    background-color: #e4f4fc;

}

.task-number-container {
    display: flex;
    text-align: center;
    background-color: #afaeae;
    border-radius: 5px;
    padding: 0 5px;
}

.task-number-container>#taskCintainerTitle {
    margin-right: 15px;
}

.task-number-container>#toDo {
    color: #00faff;
}

.task-number-container>#inProgress {
    color: #f1ff05;
}

.task-number-container>#done {
    color: #00ff22;
}

.button {
    cursor: pointer;
    cursor: pointer;
    width: 50px;
    font-size: 1.2em;
}

.button:hover{
    box-shadow: 5px 3px 7px 0px rgba(58, 57, 57, 0.98);
}

.button-menu {
    display: flex;
    list-style: none;
}

.board-button-container {
    display: flex;
    align-self: center;
}

#edit-button {
    margin-right: 10px;
    background-color: rgba(255, 217, 0, 0.692);
}

#delete-button {
    margin-right: 10px;
    background-color: rgba(255, 0, 0, 0.623);
}