<div class="header">
    <h1 class="header-title">Dashboard</h1>
    <div class="header-options">

        <app-filter ngDefaultControl [(ngModel)]="filterBy"></app-filter>

        <app-sort [sortArray]="sortArray" ngDefaultControl [(ngModel)]="sortBy"></app-sort>

        <ul class="button-menu">
            <li>
                <app-button [title]="ascButton" (click)="sortAsc = true"></app-button>
            </li>
            <li>
                <app-button [title]="descButton" (click)="sortAsc = false"></app-button>
            </li>
        </ul>
    </div>
</div>

<div class="dashboad">
    <app-dashboard-create></app-dashboard-create>
    <router-outlet></router-outlet>


    <div class="dashboard-item" *ngFor="let board of boards| sort: [sortBy,sortAsc ] | filter: filterBy "
        >
        <div>
            <h2>{{board.name}}</h2>
            <span class="link" [routerLink]="['/board', board._id]">View board</span>
        </div>
        <p>{{board.description}}</p>
        
        <div class="task-number-container">
            <h4 id="taskCintainerTitle">Tasks:</h4>
            <span id="toDo">To Do: {{calcTasks(board, 'ToDo')}}</span>
            <span id="inProgress">In Progress: {{calcTasks(board, 'InProgress')}}</span>
            <span id="done">Done: {{calcTasks(board, 'Done')}}</span>
        </div>
        <p>{{board.createdDate}}</p>

        <div class="board-button-container">
            <button class="button" id="edit-button" [routerLink]="['/home/edit', board._id]">✍ </button>
            <button class="button" id="delete-button" (click)="delete(board._id,board.name)">  🗑  </button>
            <!-- <button class="button" id="delete-button">&#9249;</button> -->

        </div>
    </div>

</div>