.header-button {
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 15px;
    cursor: pointer;
}

.header-button:hover{
    box-shadow: 5px 3px 7px 0px rgba(58, 57, 57, 0.98);
    background-color: #f3f0f0;
}