button{
    border: none;
    margin: 0 ;
}

#dashboard-create {
    background-color: #D9D9D9;
    margin: 70px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 198px;
    height: 145px;
    cursor: pointer;
}

#dashboard-create:hover{
    background-color: #f3f0f0;

}


#plus {
    font-size: 3.5em;
    padding: 10px;
}