<div class="comment-container">
    <div class="comment-form">
        <label class="form-label">
            Name:
            <input type="text" id="nameInput" placeholder="Enter your name" ngDefaultControl [(ngModel)]="name">
        </label>

        <label class="form-label">
            Comment:
            <textarea id="comment" name="comment" cols="30" rows="10"  placeholder="Enter comment"  ngDefaultControl [(ngModel)]="text"></textarea>
            
        </label>
        <button id="sendButton" (click)="add(name,text)" [routerLink]="['/task', id]">Send</button>
    </div>

   <div class="comment-list-container">
    <div  *ngFor="let comment of comments">
        <app-comment [name]="comment.name" [text]="comment.text"   [date]="comment.createdDate" > </app-comment>

    </div>
   </div>
</div>