.comment-container {
    display: flex;

}

.comment-form {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;

    padding: 0 30px;
    font-size: 1.3em;
    justify-content: center;
    margin-right: 10px;

}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#nameInput {
    width: 300px;
    padding: 10px;
}

#sendButton {
    align-self: start;
    padding: 10px 30px;

}

#comment {
    width: 400px;
}

.comment-list-container {
    flex: 1;
    border: 1px solid black;
    overflow: scroll;
    height: 500px;
    padding: 20px;

}
