<div class="form-overlay">
    <div class="form-container">
        <label class="formLabel">
            Board name:
            <input type="text" id="boardName" class="form-input" minlength="3" maxlength="30" placeholder="Enter board name" [(ngModel)]="name">
        </label>
    
        <div class="button-container">
            <button class="save-button button" id="save" (click)="update(name)" routerLink="/home">&#10003;</button>
            <button class="cancel-button button" id="cancel" routerLink="/home">&#10008;</button>
    
        </div>
    </div>
</div>