h4{
    margin: 0;
}

.coment-container{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    margin-bottom: 10px;

}

.data{
    font-size: 0.7em;
}

.coment-container:hover{
    background-color: #e4dedee0;
    border: 1px solid rgb(173, 171, 171);

}

.comment-name{
    color: rgb(73 25 231);
    font-size: 1em;
}

.comment-content{
    font-size: 1em;
font-style: italic;
}

