h2 {
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: column;


}

.task-details-conteiner {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    padding: 30px 200px;
    margin: 20px;

}

.title{
    cursor: pointer;
}

.title:hover{
    text-shadow: 10px 10px 4px #B9B0B0, -2px -8px 2px rgb(233 228 223 / 0%);

}



