
    <div class="task-container">

        <div class="task-details-conteiner">
            <h2 class="title" [routerLink]="['/board', boardId]">{{taskName}}</h2>
            <p>{{description}}
            </p>
            <span>{{createdDate}}</span>
        </div>
    
        <app-task-comment></app-task-comment>
    </div>
