<div class="form-overlay">
    <div class="form-container">
        <h3 class="task-form-title">Create Task</h3>

        <label class="formLabel">
            Task name:
            <input type="text" id="taskName" class="form-input" minlength="3" maxlength="30" placeholder="Enter task name" [(ngModel)]="name">
        </label>
        <label class="formLabel">
            Task description:
            <textarea name="description" id="taskDescription" cols="30" rows="10" minlength="3" maxlength="400" placeholder="Enter task Description"
                [(ngModel)]="description"></textarea>

        </label>
        <div class="button-container">
            <button class="save-button button" id="save" (click)="add(name,description) ">&#10003;</button>
            <button class="cancel-button button" id="cancel" (click)="goRoute()">&#10008;</button>

        </div>

    </div>
</div>