.task-create {
    background-color: #B9B0B0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    width: 100%;
    cursor: pointer;
}
.task-create-container{
    /* background-color: rgb(217, 217, 217); */
    padding: 25px;
}