<div class="form-overlay">
    <div class="form-container">
        <label class="formLabel">
            Board name:
            <input type="text" id="boardName" class="form-input" minlength="3" maxlength="30" placeholder="Enter board name" [(ngModel)]="name">
        </label>
        <label class="formLabel">
            Board description:
            <textarea name="description" id="boardDescription" cols="30" rows="10" minlength="3" maxlength="400" placeholder="Enter board description"
                [(ngModel)]="description"></textarea>
        </label>
        <div class="button-container">
            <button class="save-button button" id="save" (click)="add(name,description)"
                routerLink="/home">&#10003;</button>
            <button class="cancel-button button" id="cancel" routerLink="/home">&#10008;</button>

        </div>

    </div>
</div>