body{
    position: relative;
}

.form-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.form-container{
    background-color: rgba(134, 131, 131, 0.945);
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    z-index: 1;
}

.formLabel{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    justify-content: center;
}

.form-input{
    padding: 10px;
}

input:invalid , textarea:invalid {
    border: 1px dashed red;
}

input:invalid:focus , textarea:invalid:focus{
    background-image: linear-gradient(pink, rgb(243, 19, 30));
}

.save-button{
    margin-right: 10px;
}

.button{
    padding: 5px 10px;
    font-size: 1.5em;
    cursor: pointer;
}