<div class="archive-overlay">
    <div class="archive-container">

        <h2 class="archive-title">Archive</h2>

      <div class="archive-lict">
        <div *ngFor="let task of tasks">
            <app-task class="task" [taskName]="task.name" [id]="task._id" [description]="task.description"
                [createdDate]="task.createdDate" [taskStatus]="task.status" [archived] = "true"></app-task>

        </div>
      </div>

        <div class="button-container">
            <button class="cancel-button button" id="cancel" (click)="goRoute()">&#10008;</button>

        </div>

    </div>
</div>