h2{
    margin: 0;
}


body{
    position: relative;
}

.archive-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.archive-container{
    background-color: rgba(134, 131, 131, 0.945);
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 1;
    width: 25vw;

}

.archive-title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    background-color:  #dfd7d7;
}

.button-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button{
    padding: 5px 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.archive-lict{
    overflow: auto;
    height: 53vh;
}